@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html { 
    width: 100%; 
    height:100%; 
    overflow-y: scroll;
    background-image: url("../img/back.png");
    background-repeat: repeat;
}

body {
    margin:auto;
    padding:10px;
    padding-top: 15px;
    max-width: 1366px;
    min-width: 1000px;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    //background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    //background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    //background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    //background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    //background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}


#tabs {border-bottom:1px solid #7D1F1D;height:37px;margin:0 0 10px;padding-top:5px;background:#7D1F1D}
#tabs a {float:left;margin-left:12px;border-radius:3px 3px 0 0;border:1px solid #7D1F1D;border-bottom-color:#7D1F1D;color:black;height:32px;line-height:32px;padding:0 12px;text-decoration:none;}
#tabs a:hover {background:#1d7b7d;color:black;border-color:#1d7b7d #1d7b7d #1d7b7d;}
#tabs a.active {background:#1d7b7d;color:white;border-color:#1d7b7d #1d7b7d #1d7b7d;}
#tabs a.active:hover {background:#1d7b7d;color:white;border-color:#1d7b7d #1d7b7d #1d7b7d;}
#tabs_data fieldset {display:none; border: 0px;}
#tabs_data fieldset div {font-size:13px;}
#tabs_data{
    margin-top: -10px;
    border-top: 0px; 
    border-bottom: 3px solid #7D1F1D; 
    border-right: 3px solid #7D1F1D; 
    border-left: 3px solid #7D1F1D;
    background: rgba(255,255,255,0.5);
}
    


.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; 
      background-color: #f5f5f5; 
      background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); 
      background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); 
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); 
      background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); 
      background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); 
      background-image: linear-gradient(top, #ffffff, #e6e6e6); 
      background-repeat: repeat-x; 
      filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); 
      border-color: #e6e6e6 #e6e6e6 #e6e6e6; 
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
      border: 1px solid #e6e6e6; 
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
      cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { 
    color: #333333; 
    text-decoration: 
        none; 
    background-color: #e6e6e6; 
    background-position: 0 -15px; 
    -webkit-transition: background-position 0.1s linear; 
    -moz-transition: background-position 0.1s linear; 
    -ms-transition: background-position 0.1s linear; 
    -o-transition: background-position 0.1s linear; 
    transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #1d7b7d; 
              background-image: -moz-linear-gradient(top, #1d7b7d, #5d9e9e); 
              background-image: -ms-linear-gradient(top, #1d7b7d, #5d9e9e); 
              background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7b7d), to(#5d9e9e)); 
              background-image: -webkit-linear-gradient(top, #1d7b7d, #5d9e9e); 
              background-image: -o-linear-gradient(top, #1d7b7d, #5d9e9e); 
              background-image: linear-gradient(top, #1d7b7d, #5d9e9e); 
              background-repeat: repeat-x; 
              filter: progid:dximagetransform.microsoft.gradient(startColorstr=#1d7b7d, endColorstr=#5d9e9e, GradientType=0);  
              border: 1px solid #1d7b7d; 
              text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #5d9e9e; }
.btn-block { width: 100%; display:block; margin-top: 10px;}

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
    
.login { 
        margin: auto;
        width:300px;
        height:300px;
}
.login h1 { color: #7D1F1D; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.login h1 a{
    text-decoration: none;
    color: #7D1F1D; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; 
}

input { 
        width: 100%; 
        margin-top: 10px; 
        background: rgba(0,0,0,0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}


/* Generated via www.cssmenubuilder.com */

.nbar{
    width: 95%;
    margin: auto;
    background: #7D1F1D;
}
.nbar-list{
    margin: 0 auto; 
    padding: 0; 
    height: 50px; 
    width: 600px; 
    display: block; 
}
.nbar-link{
    padding: 10px 0px; 
    margin: 0; 
    margin-left: 5px;
    margin-right: 5px;
    list-style: none; 
    display: inline;
}

.nbar-list a{
    line-height: 49px;
    color: white;
    text-decoration: none;
    padding: 13px;
    padding-top: 13px;
    padding-bottom: 14px;
}

.nbar-list a:hover{
    background: #1d7b7d;
}

.teachercontainer{
    width: 95%;
    margin: auto;
    padding: 1%; 
    border-top: 0px;
    height: auto;
    background:rgba(255,255,255,0.5);
    display: table;
}

.teacher-top, .teacher-bottom{
    width: 100%;    
    //float: right;
    //margin-right: 2%;
    height: 50%;
    display: table-row;
    margin: 0px;
    padding: 0px;
}
    
.teacher-tleft, .teacher-bleft, .teacher-tright, .teacher-bright{
    width: 50%;
    // margin-bottom: 3%;
    display: table-cell;
    margin: 0px;
    padding: 0px;
    border: 5px solid transparent;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}

.box-title{
    background: rgba(255,255,255,0.8);
    padding: 5px;
    padding-left: 10px;
    font-size: 13px;
    color: #7D1F1D;
    font-weight: bold;
}

.boxcontent{
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(11,48,49,0.4);
    height: 210px;
    margin-top: -9px;
}

.check-in-title{
    text-align: center;
}

.check-in-title h2{
    color: #7D1F1D;
}




/*----- Tabs -----*/
.sttabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .sttab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .sttab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .sttab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
            text-decoration: none;
        }
 
        .sttab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
            text-decoration: none;
        }
 
    sttab-links li.active a, sttab-links li.active a:hover {
        background:#fff;
        color:#4c4c4c;
        text-decoration: none;
    }
 
    /*----- Content of Tabs -----*/
    .sttab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .sttab {
            display:none;
        }
 
        .sttab.active {
            display:block;
        }